<form nz-form [formGroup]="validateForm" (ngSubmit)="submitFormProduct()">
  
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>
        Name
      </nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="name" placeholder="Excuse name" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Description
      </nz-form-label>
      <nz-form-control [nzSpan]="12">
        <textarea
          nz-input
          formControlName="description"
          placeholder="Brief description of the theory..."
          rows="4"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    

    
   

    <nz-form-item>
      <nz-form-control
        [nzXs]="{ span: 24, offset: 0 }"
        [nzSm]="{ span: 16, offset: 8 }"
      >
        <button nz-button nzType="primary">Save Theory</button>
      </nz-form-control>
    </nz-form-item>
    
  </form>
  @if (selectedProduct){
    <app-update-product 
    [product]="selectedProduct"
    (productUpdate)="onProductUpdate()"
    ></app-update-product>
}
<app-product-list (productSelected)="editProduct($event)"></app-product-list>
